@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);

    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: #7280a7;
    --Dark-blue: hsl(223, 47%, 23%); 
    
    --Main-font:'Red Hat Display', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}
a{
    text-decoration: none;
}

img{
    display: block;
}
.img_hero img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--Pale-blue);
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(style/images/pattern-background-mobile.svg);
    background-repeat:repeat-x;
    background-size: contain;
}

main{
    display: flex;
    flex-direction: column;
    max-width: 327px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 5px 40px #7280a74f;
    margin: 30px;

}

.plan_area{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 1fr;
    padding: 0 10px 0 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--Very-pale-blue);
    max-width: 279px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
}  
.plan{
    display: flex;
    flex-direction: column;

}

.text_area{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}
h3{
    color: var(--Dark-blue);
    margin-bottom: 20px;
    font-size: 1.4em;
}
.paragraph{
    color: var(--Desaturated-blue);
    margin-bottom: 20px;
}
.plan_type{
    font-weight: 700;
    color: var(--Dark-blue);
}
.plan_price{
    color: var(--Desaturated-blue);
}
.change{
    font-size: 0.9em;
    grid-column-start: 4;
    font-weight: 700;
    text-decoration: underline;

}
.change:hover{
    text-decoration: none;
}

.payment{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 354px;
    height: 50px;
    background-color: var(--Bright-blue);
    border-radius: 10px;
    margin-bottom: 20px;
    font-weight: 700;
    color: var(--Pale-blue);
    box-shadow: 0px 5px 40px #7280a7c9;
}
.payment:hover{
    background-color: var(--Desaturated-blue);
}

.cancel{
    font-weight: 700;
    color: var(--Desaturated-blue);
}
.cancel:hover{
    color: var(--Dark-blue);
}



